[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
botbuilder-core = ">=4.7.0"
asyncio = "*"
cookiecutter = "*"
aiohttp = "*"

[requires]
python_version = "3.6"
